.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-fill: white;
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: #262626;
}

.function {
    -fx-fill: firebrick;
}